.box-border {
    border: solid 1px var(--blue);
    padding: 1em;
    margin: 0.5em;
    margin-top: 1.5em;
    border-radius: 1em;
}
.box-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
.text-alert {
    font-family: "nats";
    font-size: 1em;
    color: var(--blue);
    text-align: center;
    line-height: 1em;
}

.alert {
    margin-top: 4em;
    margin-bottom: 2em;
}

.text-alert-mobile {
    font-family: "nats";
    font-size: 1.2em;
    color: var(--blue);
    text-align: center;
    line-height: 1em;
}
